# Ignore everything by default
*

!.gitignore

!niri/
!niri/**

!noctalia/
!noctalia/**

!walker/
!walker/**

!fish/
!fish/config.fish
!starship.toml

!ghostty/
!ghostty/**

!btop/
!btop/**

!swayidle/
!swayidle/**

!gtk-3.0/
!gtk-3.0/settings.ini
!gtk-4.0/
!gtk-4.0/**
!Kvantum/
!Kvantum/**
!qt5ct/
!qt5ct/**
!themes/
!themes/**

!zed/themes
!zed/themes/**
!mise/
!mise/**
!opencode/
!opencode/**

!satty
!satty/config.toml
