layout {

    focus-ring {
        active-color   "#adcae0"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#adcae0"
        inactive-color "#121315"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#adcae0"
        inactive-color "#4d697c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#adcae080"
    }
}

recent-windows {
    highlight {
        active-color "#adcae0"
        urgent-color "#ffb4ab"
    }
}
